In [1]:
def add(x,y):
    return x + y

In [2]:
x = add(100,200)

In [3]:
print(x)

300

In [4]:
def iterate_list_directly(lst):
    print("running iterate_list_directly()")
    for i in lst:
        print(i)

In [5]:
def iterate_list_using_range(lst):
    print("running iterate_list_using_range()")
    for i in range(len(lst)):
        print(f'index: {i} lst[{i}]: {lst[i]}')

In [6]:
lst = [1,2,4532,24,425,52]
print(f'list is {lst}')
iterate_list_directly(lst)
iterate_list_using_range(lst)

list is [1, 2, 4532, 24, 425, 52]
running iterate_list_directly()
1
2
4532
24
425
52
running iterate_list_using_range()
index: 0 lst[0]: 1
index: 1 lst[1]: 2
index: 2 lst[2]: 4532
index: 3 lst[3]: 24
index: 4 lst[4]: 425
index: 5 lst[5]: 52

In [7]:
n = 7
print('*'*n)

*******

In [8]:
for i in range(1,n+1):
    if i % 2 == 0:
        continue
    else:
        print(i*'*')

*
***
*****
*******

In [10]:
l = [[1, 2], [3, 4]]
for i in l:
    for i_i in i:
        print(f'In list {i} value is {i_i}')

In list [1, 2] value is 1
In list [1, 2] value is 2
In list [3, 4] value is 3
In list [3, 4] value is 4

In [63]:
def transpose(lst):
    rows = len(lst)
    transposed_list = []
    if rows != 0:
        columns = len(lst[0])
        for i in range(columns):
            transposed_list = [[0 for _ in range(rows)] for _ in range(columns)]
        for i in range(len(lst)):
            for j in range(len(lst[i])):
                #print(f'i {i} j {j}')
                transposed_list[j][i] = lst[i][j]
    print(transposed_list)

In [65]:
#l = [[1, 2], [3, 4]]
#l = [[1]]
#l = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
#l = lst = [[1, 2],[4, 5],[7, 8]]
l = []
transpose(l)

[]